<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello Marko</title>
  </head>
  <body>
    <async-fragment data-provider=data.userDataProvider
                    var="user">
      <h1>Hello ${user.val}</h1>
    </async-fragment>

    <p>
        <app-hello name="${data.name}"/> You have ${data.count} new messages!
    </p>

    <ul if="notEmpty(data.colors)">
        <li style="color: $color" for="color in data.colors">
            $color
        </li>
    </ul>

  </body>
</html>
